body{
	background: pink;
}

table{
	margin:auto;
}

h1{
	text-align: center; 
}

td{
	width: 100px;
	height: 100px;
}
/*there are two ways to do 1. use class 2. use nth-of-type*/
/*.vertical{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
*/
td:nth-of-type(2){
	border-left: 1px solid black;
	border-right: 1px solid black;
}

tr:nth-of-type(2) td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

